.app_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.app_nav .nav_user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app_nav .nav_user a {
  margin-left: 3rem;
}

.tweets_body {
  margin-top: 7rem;
}

.tweets_body h2 {
  font-weight: 600;
}

ul {
  padding: 0;
}

.feed {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tweet_item {
  display: flex;
  flex-direction: column;
  box-shadow: 0 48px 100px 0 rgb(0 0 0 / 8%);
  padding: 1.5rem 4rem;
  border-radius: 15px;
  background-color: #fff;
  width: 20%;
  margin-bottom: 2rem;
}

.tweet_item .top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.profile_section {
  margin-top: 5rem;
}

.profile_section h2 {
  margin-top: 4rem;
}
